{% extends "layout.html" %}                                                                                                                                                                                                                                              
{% block content %}
	<nav class="navbar">
	    <div class="navbar-left">
		<ol class="breadcrumb">
		    <li><a href="{{ url_for('index') }}">Bind Manager</a></li>
		    <li class="active">Zone List</li>
		</ol>
	    </div>
	    <div class="navbar-right"> 
		<div class="input-group">
		    <span class="input-group-addon">Search</span>
		    <input id="filter" type="text" class="form-control" placeholder="Type here...">
		</div>
	    </div>
	</nav>
<!-- <nav class="navbar">
	</nav> -->
	    <table class="table table-hover">
		<thead>
		    <tr>
			<th>Name</th>
			<th>View</th>
			<th class="col-md-2">Status</th>
		    </tr>
		</thead>
		<tbody class="searchable">
		    {% for zone in zone_list %}
		    <tr>
			<!-- <td>{{zone.id}}</td> -->
			<td><a href="{{ url_for('get_zone_transfer', zona=zone.name) }}">{{ zone.name }}</a></td>
			<td>{{ zone.view }}</td>
			    {%- if zone.change_qty %}
			<td class="alert alert-warning">
				Unpublished changes
			</td>
			    {%- else %}
			<td></td>
			    {%- endif %}
		    </tr>
		    {% endfor %}
		</tbody>
	    </table>

{% endblock %}
