{% extends "layout.html" %}                                                                                                                                                                                                                                              
{% block content %}
	<nav class="navbar">
	    <div class="navbar-left">
		<ol class="breadcrumb">
		    <li><a href="{{ url_for('index') }}">Bind Manager</a></li>
		    <li class="active">Pools</li>
		</ol>
	    </div>
	    <div class="navbar-right"> 
		<div class="input-group">
		    <span class="input-group-addon">Search</span>
		    <input id="filter" type="text" class="form-control" placeholder="Type here...">
		</div>
	    </div>
	</nav>
<!-- <nav class="navbar">
	</nav> -->
	    <table class="table table-hover">
		<thead>
		    <tr>
			<th>Name</th>
			<th>View</th>
			<th class="col-md-2">Status</th>
		    </tr>
		</thead>
		<tbody class="searchable">
		    <tr>
          <td></td>
		    </tr>
		</tbody>
	    </table>

{% endblock %}
